:root {
    // fonts
    --Poppins-Medium: Poppins-Medium;
    --Poppins-Regular: Poppins-Regular;
    // font size
    --font-size-place: 18px;
    --font-size-numero: 15px;

    // colors
    --primary900 : #0F1528;
    --primary700 : #1D294D;
    --primary500 : #2B3D72;
    --primary300 : #4461B5;
    --primary100 : #8497D1;

    --secondary900 : #6B3300;
    --secondary700 : #C76000;
    --secondary500 : #FF8D24;
    --secondary300 : #FFB26B;
    --secondary100 : #FFD7B3;

    --neutral900 : #262626;
    --neutral800 : #414141;
    --neutral700 : #5B5B5B;
    --neutral600 : #747474;
    --neutral500 : #808080;
    --neutral400 : #999999;
    --neutral300 : #AAAAAA;
    --neutral200 : #BBBBBB;
    --neutral100 : #D8D8D8;
    --neutral50 : #F7F7F7;
}
@import "global";


#contact-section {
    // padding: 0 50px;
    background-color: var(--primary700);    

    // ----------------- title -------------------
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        padding-top: 50px;
        padding-bottom: 20px;

        img {
            display: none;
            cursor: pointer;
            width: 25px;
        }

        h2 {
            flex-grow: 1;
            margin: 0;

            font-size: 40px;
            text-align: center;
            
            color: var(--secondary300);
            
            // background-color: green;
        }
    }
    @media (max-width: 850px) {
        header {
            padding: 0 20px;
            padding-top: 50px;
            padding-bottom: 20px;

            h2 {
                font-size: 32px;
            }
        }
    }
}


// ---------------formulaire---------------
#form-container {
    padding: 0 50px;
}
#form {
    width: 100%;
    max-width: 800px;

    margin: 0 auto;
    // margin-bottom: 50px;

    padding: 40px;
    padding-top: 50px;

    // background-color: red;
}

.form-info {
    // background-color: red;
    margin-bottom: 40px;

    p {
        margin: 0;
        padding-bottom: 15px;
        padding-left: 25px;

        font-size: 18px;
        color: var(--neutral50);
    }

    input, textarea {
        width: 100%;
        padding: 20px 30px;
        margin: 0;

        outline: none;
        border: none;
        border-radius: 15px;

        font-size: 15px;
        color: var(--primary900);
    }

    textarea {
        min-height: 200px;
        min-width: 100%;
        max-width: 100%;
    }
}

.submit-button-container {
    width: 100%;

    // background-color: green;

    .submit-button {
        display: flex;
        align-items: center;
        cursor: pointer;

        margin: 0 auto;

        height: 45px;
        padding: 0 50px;
        // padding: 10px 40px;

        border: none;
        border-radius: 15px;

        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;

        color: var(--primary700);
        background-color: var(--neutral50);
    }
    .submit-button:hover {
        background-color: var(--secondary700);
        color: var(--neutral50);
    }
}

@media (max-width: 850px) {
    #contact-section {
        display: none;

        header img {
            display: block;
        }
    }
}

@media (max-width: 550px) {
    #form-container {
        padding: 0 0px;
    }
    #form {
        border-radius: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 400px) {
    #form {
        padding-left: 20px;
        padding-right: 20px;
    }
}
