:root {
    // fonts
    --Poppins-Medium: Poppins-Medium;
    --Poppins-Regular: Poppins-Regular;
    // font size
    --font-size-place: 18px;
    --font-size-numero: 15px;

    // colors
    --primary900 : #0F1528;
    --primary700 : #1D294D;
    --primary500 : #2B3D72;
    --primary300 : #4461B5;
    --primary100 : #8497D1;

    --secondary900 : #6B3300;
    --secondary700 : #C76000;
    --secondary500 : #FF8D24;
    --secondary300 : #FFB26B;
    --secondary100 : #FFD7B3;

    --neutral900 : #262626;
    --neutral800 : #414141;
    --neutral700 : #5B5B5B;
    --neutral600 : #747474;
    --neutral500 : #808080;
    --neutral400 : #999999;
    --neutral300 : #AAAAAA;
    --neutral200 : #BBBBBB;
    --neutral100 : #D8D8D8;
    --neutral50 : #F7F7F7;
}
@import "global";

#languages-section {
    background-color: var(--primary100);
    padding-bottom: 50px;

    // ----------------- title -------------------
    header {
        padding: 0 50px;

        h2 {
            margin: 0;
            padding-top: 50px;
            padding-bottom: 20px;

            font-size: 40px;
            text-align: center;
            
            color: var(--neutral50);
            
            // background-color: green;
        }
    }
    @media (max-width: 500px) {
        header {
            padding: 0 20px;
        }
    }
}

#langues {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    .langue, .reverse-langue {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: red;

        .langue-img {
            height: 70px;
            aspect-ratio: 1;
            border-radius: 15px;
            overflow: hidden;

            img {
                height: 100%;
                aspect-ratio: 1;
            }
        }

        h3 {
            margin: 0;
            padding-top: 10px;
        }
    }

    .reverse-langue {
        flex-direction: column-reverse;

        h3 {
            padding-top: 0;
            padding-bottom: 10px;
        }
    }
}

#langues-mobile {
    display: none;
}

@media (max-width: 850px) {
    #langues {
        display: none;
    }
    #langues-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 20px;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    
        .langue, .reverse-langue {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: red;
    
            .langue-img {
                height: 70px;
                aspect-ratio: 1;
                border-radius: 15px;
                overflow: hidden;
    
                img {
                    height: 100%;
                    aspect-ratio: 1;
                }
            }
    
            h3 {
                margin: 0;
                padding-top: 10px;
            }
        }
    
        .reverse-langue {
            flex-direction: column-reverse;
    
            h3 {
                padding-top: 0;
                padding-bottom: 10px;
            }
        }
    }
}