:root {
  --Poppins-Medium: Poppins-Medium;
  --Poppins-Regular: Poppins-Regular;
  --font-size-place: 18px;
  --font-size-numero: 15px;
  --primary900: #0F1528;
  --primary700: #1D294D;
  --primary500: #2B3D72;
  --primary300: #4461B5;
  --primary100: #8497D1;
  --secondary900: #6B3300;
  --secondary700: #C76000;
  --secondary500: #FF8D24;
  --secondary300: #FFB26B;
  --secondary100: #FFD7B3;
  --neutral900: #262626;
  --neutral800: #414141;
  --neutral700: #5B5B5B;
  --neutral600: #747474;
  --neutral500: #808080;
  --neutral400: #999999;
  --neutral300: #AAAAAA;
  --neutral200: #BBBBBB;
  --neutral100: #D8D8D8;
  --neutral50: #F7F7F7;
}

:root {
  --Poppins-Medium: Poppins-Medium;
  --Poppins-Regular: Poppins-Regular;
  --font-size-place: 18px;
  --font-size-numero: 15px;
  --primary900: #0F1528;
  --primary700: #1D294D;
  --primary500: #2B3D72;
  --primary300: #4461B5;
  --primary100: #8497D1;
  --secondary900: #6B3300;
  --secondary700: #C76000;
  --secondary500: #FF8D24;
  --secondary300: #FFB26B;
  --secondary100: #FFD7B3;
  --neutral900: #262626;
  --neutral800: #414141;
  --neutral700: #5B5B5B;
  --neutral600: #747474;
  --neutral500: #808080;
  --neutral400: #999999;
  --neutral300: #AAAAAA;
  --neutral200: #BBBBBB;
  --neutral100: #D8D8D8;
  --neutral50: #F7F7F7;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: var(--Poppins-Regular);
}

main {
  width: 100%;
}

/* Fonts */
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
#languages-section {
  background-color: var(--primary100);
  padding-bottom: 50px;
}
#languages-section header {
  padding: 0 50px;
}
#languages-section header h2 {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  color: var(--neutral50);
}
@media (max-width: 500px) {
  #languages-section header {
    padding: 0 20px;
  }
}

#langues {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
#langues .langue, #langues .reverse-langue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#langues .langue .langue-img, #langues .reverse-langue .langue-img {
  height: 70px;
  aspect-ratio: 1;
  border-radius: 15px;
  overflow: hidden;
}
#langues .langue .langue-img img, #langues .reverse-langue .langue-img img {
  height: 100%;
  aspect-ratio: 1;
}
#langues .langue h3, #langues .reverse-langue h3 {
  margin: 0;
  padding-top: 10px;
}
#langues .reverse-langue {
  flex-direction: column-reverse;
}
#langues .reverse-langue h3 {
  padding-top: 0;
  padding-bottom: 10px;
}

#langues-mobile {
  display: none;
}

@media (max-width: 850px) {
  #langues {
    display: none;
  }
  #langues-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  #langues-mobile .langue, #langues-mobile .reverse-langue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #langues-mobile .langue .langue-img, #langues-mobile .reverse-langue .langue-img {
    height: 70px;
    aspect-ratio: 1;
    border-radius: 15px;
    overflow: hidden;
  }
  #langues-mobile .langue .langue-img img, #langues-mobile .reverse-langue .langue-img img {
    height: 100%;
    aspect-ratio: 1;
  }
  #langues-mobile .langue h3, #langues-mobile .reverse-langue h3 {
    margin: 0;
    padding-top: 10px;
  }
  #langues-mobile .reverse-langue {
    flex-direction: column-reverse;
  }
  #langues-mobile .reverse-langue h3 {
    padding-top: 0;
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=languages.css.map */