:root {
    // fonts
    --Poppins-Medium: Poppins-Medium;
    --Poppins-Regular: Poppins-Regular;
    // font size
    --font-size-place: 18px;
    --font-size-numero: 15px;

    // colors
    --primary900 : #0F1528;
    --primary700 : #1D294D;
    --primary500 : #2B3D72;
    --primary300 : #4461B5;
    --primary100 : #8497D1;

    --secondary900 : #6B3300;
    --secondary700 : #C76000;
    --secondary500 : #FF8D24;
    --secondary300 : #FFB26B;
    --secondary100 : #FFD7B3;

    --neutral900 : #262626;
    --neutral800 : #414141;
    --neutral700 : #5B5B5B;
    --neutral600 : #747474;
    --neutral500 : #808080;
    --neutral400 : #999999;
    --neutral300 : #AAAAAA;
    --neutral200 : #BBBBBB;
    --neutral100 : #D8D8D8;
    --neutral50 : #F7F7F7;
}
@import "global";

#programs-section {
    background-color: var(--secondary900);

    // ----------------- title -------------------
    header {
        padding: 0 50px;

        h2 {
            margin: 0;
            padding-top: 50px;
            padding-bottom: 20px;

            font-size: 40px;
            text-align: center;
            
            color: var(--neutral100);
            
            // background-color: green;
        }
    }
    @media (max-width: 500px) {
        header {
            padding: 0 20px;
        }
    }
}


#programs {
    // background-color: red;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    padding-bottom: 40px;
}

.programme, .programme-rev {
    width: 100%;
    padding: 40px 0;
    // background-color: green;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


    .program-img {
        // background-color: blue;
        width: 30%;
        align-self: stretch;
        // aspect-ratio: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
    }

    .program-text-container, .program-text-container-rev {
        width: 50%;

        .program-title, .program-title-rev {
            display: inline-block;
            width: auto;
            border-bottom: solid 2px var(--secondary100);

            h3 {
                margin: 0;
                padding: 3px 0;
                padding-left: 20px;
                padding-right: 10px;
                color: var(--secondary100);
            }
        }

        p {
            margin: 0;
            padding-left: 20px;
            padding-top: 20px;
            color: var(--neutral100);
            word-break: keep-all;
        }
    }
}

.programme-rev {
    flex-direction: row-reverse;

    .program-text-container-rev {
        // background-color: red;

        .program-title-contain-rev {
            display: flex;
            justify-content: flex-end;
        }

        .program-title-rev {
            // background-color: blue;

            h3 {
                padding-right: 20px;
                padding-left: 10px;
            }
        }

        p {
            padding-left: 0;
            padding-right: 20px;
            text-align: right;
        }
    }
}

body {
    overflow-x: hidden;
}


@media (max-width: 850px) {

    #programs {
        padding: 0 20px;
    }
    .programme, .programme-rev {
        width: 90%;
        max-width: 450px;
        flex-direction: column-reverse;

        .program-img {
            width: 100%;
            // aspect-ratio: 1;
            // align-self: auto;
            padding-left: 20px;
        }

        .program-text-container {
            width: 100%;

            p {
                padding: 15px 0;
                padding-left: 20px;
                padding-bottom: 25px;
            }
        }
    }

    .programme-rev {
        margin-left: auto;
        align-items: flex-end;

        .program-img {
            padding-right: 20px;
        }

        .program-text-container-rev {
            width: 100%;

            p {
                // text-align: start;
                padding: 15px 0;
                padding-right: 20px;
                padding-bottom: 25px;
            }
        }
    }
}